{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class='main'>
  {{#with data}}
    <div class='main__content'>
      <h1 class="title title--center">Додати до плейліста</h1>
      {{#each tracks}}
        <form class="form" method="post" action="/spotify-track-add" >
          <input type="hidden" name="playlistId" value="{{../playlistId}}">
          <input type="hidden" name="trackId" value="{{id}}">
            <ul class="track__list">
              <li class="track">
                <img src="{{image}}" alt="{{name}}">
                <div class="track__content">
                  <strong class="track__name">{{name}}</strong>
                  <em class="track__author">{{author}}</em>
                </div>
                <button type="submit" class="form__button">
                  <img src="/svg/add_button_small.svg">
                </button>
              </li>
            </ul>

        </form>
      {{/each}}
    </div>
  {{/with}}
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}