<main class='main'>
  {{#with data}}
    <div class='info-card'>

      {{> heading title="Інформація про замовлення"}}

      <div> 
        <div class="purchase-info__label">ID:</div>
        <div class="purchase-info__value">{{purchase.id}}</div>
      </div>

      {{> divider}}

      <div class="purchase-info__block">
        <div>
          <div class="purchase-info__label">Ім'я:</div>
          <div class="purchase-info__value">{{purchase.firstname}}</div>
        </div>

        <div>
          <div class="purchase-info__label">Прізвище:</div>
          <div class="purchase-info__value">{{purchase.lastname}}</div>
        </div>

        <div>
          <div class="purchase-info__label">Телефон:</div>
          <div class="purchase-info__value">{{purchase.phone}}</div>
        </div>

        <div>
          <div class="purchase-info__label">Електронна пошта:</div>
          <div class="purchase-info__value">{{purchase.email}}</div>
        </div>
      </div>

      {{> divider}}

      <div>

        <div class="purchase-info__label">Назва товару:</div>
        <div class="purchase-info__value">{{product.title}}</div>

        <div class="purchase-info__label">Коментар:</div>
        <div class="purchase-info__value">{{purchase.comment}}</div>
      </div>

      {{> divider}}

      <div class="purchase-info__block">
        <div>
          <div class="purchase-info__label">Вартість товарів</div>
          <div class="purchase-info__value">{{purchase.productPrice}}</div>
        </div>

        <div>
          <div class="purchase-info__label">Вартість доставки:</div>
          <div class="purchase-info__value">{{purchase.deliveryPrice}}</div>
        </div>

        <div>
          <div class="purchase-info__label">Сума до сплати:</div>
          <div class="purchase-info__value">{{purchase.totalPrice}}</div>
        </div>

        <div>
          <div class="purchase-info__label">Нараховані бонуси:</div>
          <div class="purchase-info__value">{{purchase.bonus}}</div>
        </div>
      </div>

      {{> divider}}

      <a href='/purchase-update?id={{purchase.id}}' class='button'
  >Змінити дані</a>

    </div>
  {{/with}}
</main>
