<main class='main'>
  {{> heading title="Мої замовлення"}}

  {{#each data.list}}
    <a class="block" href="/purchase-info?id={{id}}" method="POST" action='/purchase-info?id={{id}}'>
      <div class='purchase-list'>
        <div class='purchase-item'>
          <div class='purchase-item__name'>ID: {{id}}</div>
          <div>
            <div class='purchase-item__name'>Товари:</div>
            <div class='purchase-item__value'>{{product.title}}</div>
          </div>
          <div>
            <div class='purchase-item__name'>Сума замовлення:</div>
            <div class='purchase-item__value'>{{totalPrice}}₴</div>
          </div>
          <div>
            <div class='purchase-item__name'>Нараховано бонусів:</div>
            <div class='purchase-item__value'>{{bonus}}₴</div>
          </div>
        </div>

        {{> divider}}

      </div>
    </a>
  {{/each}} 
  
</main>